*{
  margin:0;
  padding:0;
  text-decoration: none;
  font-family: montserrat, -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}



